In [1]:
import pandas as pd
df1 = pd.read_csv('/Users/ethan/Desktop/AI/python資料科學/python-data-science-practice/get data and import data practice/(Mac) w2-2. 資料擷取與匯入/Sample.csv',encoding='big5')
df1[:5]

   year  peak_load   PRM
0    71      691.8  26.8
1    72      780.8  29.2
2    73      851.7  22.1
3    74      871.6  55.1
4    75      990.0  48.3

In [3]:
df2 = pd.read_excel('/Users/ethan/Desktop/AI/python資料科學/python-data-science-practice/get data and import data practice/(Mac) w2-2. 資料擷取與匯入/Sample.xlsx',sheet_name = 'sheet1')
df2[:5]

   year  peak_load   PRM
0    71      691.8  26.8
1    72      780.8  29.2
2    73      851.7  22.1
3    74      871.6  55.1
4    75      990.0  48.3

In [4]:
import mysql.connector
import pandas.io.sql as sql
＃連結資料的帳密
config = {
    'user':'root'
    'password':'1234567890'
    'host':'127.0.0.1'
    'database':'pds'
}
cnx = mysql.connector.connect(**config)

df = sql.read_sql('select * from taipower;',cnx)
df[:5]

SyntaxError: invalid character in identifier (<ipython-input-4-376e96688840>, line 3)