K-means Clustering

In [1]:
import pandas as pd
df = pd.read_csv("/Users/ethan/Desktop/AI/python資料科學/python-data-science-practice/Basic Machine Learning/(Mac) w4-1. 基礎機器學習/StudentJob.csv",encoding = "big5")
df.head()

   code      type  salary  working
0  1401    綜合教育學類   37423     0.84
1  1402  普通科目教育學類   34327     0.85
2  1403  專業科目教育學類   34619     0.85
3  1404    學前教育學類   32645     0.91
4  1405    成人教育學類   30753     0.86